# runtime-derived nginx values
# http_port={{ nginx.http_port }}
# https_enabled={{ nginx.https_enabled }}
# https_port={{ nginx.https_port }}
# backend_scheme={{ nginx.backend_scheme }}
# backend_port={{ nginx.backend_port }}
# server_name={{ nginx.server_name }}
# ssl_cert={{ nginx.ssl_cert }}
# ssl_key={{ nginx.ssl_key }}
